<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	useThumbDots="false"
	showExpandButton="true"
	showThumbsButton="false"
	showOpenButton="false"
	shareFacebook="true"
	shareTwitter="true"
	backButtonPosition="NONE"
	galleryHeight="650px"
	showImageNumber="true"
	showSmallPagingText="false"
	galleryTitlePosition="NONE"
	galleryTitleHAlign="CENTER"
	buttonBarPosition="OVERLAY"
	captionPosition="NONE"
	buttonBarHAlign="RIGHT"
	useFullscreenExpand="true"
	indexPageName="index.html"

>
  <image imageURL="images/244898.jpg"
	thumbURL="thumbs/244898.jpg"
	linkURL="images/244898.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\244898.jpg">
    <title><![CDATA[244898]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/244899.jpg"
	thumbURL="thumbs/244899.jpg"
	linkURL="images/244899.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\244899.jpg">
    <title><![CDATA[244899]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/244900.jpg"
	thumbURL="thumbs/244900.jpg"
	linkURL="images/244900.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\244900.jpg">
    <title><![CDATA[244900]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/244901.jpg"
	thumbURL="thumbs/244901.jpg"
	linkURL="images/244901.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\244901.jpg">
    <title><![CDATA[244901]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/244902.jpg"
	thumbURL="thumbs/244902.jpg"
	linkURL="images/244902.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\244902.jpg">
    <title><![CDATA[244902]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/244903.jpg"
	thumbURL="thumbs/244903.jpg"
	linkURL="images/244903.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\244903.jpg">
    <title><![CDATA[244903]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245163.jpg"
	thumbURL="thumbs/245163.jpg"
	linkURL="images/245163.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245163.jpg">
    <title><![CDATA[245163]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245164.jpg"
	thumbURL="thumbs/245164.jpg"
	linkURL="images/245164.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245164.jpg">
    <title><![CDATA[245164]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245165.jpg"
	thumbURL="thumbs/245165.jpg"
	linkURL="images/245165.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245165.jpg">
    <title><![CDATA[245165]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245166.jpg"
	thumbURL="thumbs/245166.jpg"
	linkURL="images/245166.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245166.jpg">
    <title><![CDATA[245166]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245167.jpg"
	thumbURL="thumbs/245167.jpg"
	linkURL="images/245167.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245167.jpg">
    <title><![CDATA[245167]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245168.jpg"
	thumbURL="thumbs/245168.jpg"
	linkURL="images/245168.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245168.jpg">
    <title><![CDATA[245168]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245295.jpg"
	thumbURL="thumbs/245295.jpg"
	linkURL="images/245295.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245295.jpg">
    <title><![CDATA[245295]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245296.jpg"
	thumbURL="thumbs/245296.jpg"
	linkURL="images/245296.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245296.jpg">
    <title><![CDATA[245296]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245297.jpg"
	thumbURL="thumbs/245297.jpg"
	linkURL="images/245297.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245297.jpg">
    <title><![CDATA[245297]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245298.jpg"
	thumbURL="thumbs/245298.jpg"
	linkURL="images/245298.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245298.jpg">
    <title><![CDATA[245298]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245299.jpg"
	thumbURL="thumbs/245299.jpg"
	linkURL="images/245299.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245299.jpg">
    <title><![CDATA[245299]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245300.jpg"
	thumbURL="thumbs/245300.jpg"
	linkURL="images/245300.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245300.jpg">
    <title><![CDATA[245300]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245462.jpg"
	thumbURL="thumbs/245462.jpg"
	linkURL="images/245462.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245462.jpg">
    <title><![CDATA[245462]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245463.jpg"
	thumbURL="thumbs/245463.jpg"
	linkURL="images/245463.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245463.jpg">
    <title><![CDATA[245463]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245464.jpg"
	thumbURL="thumbs/245464.jpg"
	linkURL="images/245464.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245464.jpg">
    <title><![CDATA[245464]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245465.jpg"
	thumbURL="thumbs/245465.jpg"
	linkURL="images/245465.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245465.jpg">
    <title><![CDATA[245465]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245466.jpg"
	thumbURL="thumbs/245466.jpg"
	linkURL="images/245466.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245466.jpg">
    <title><![CDATA[245466]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245467.jpg"
	thumbURL="thumbs/245467.jpg"
	linkURL="images/245467.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245467.jpg">
    <title><![CDATA[245467]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245581.jpg"
	thumbURL="thumbs/245581.jpg"
	linkURL="images/245581.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245581.jpg">
    <title><![CDATA[245581]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245582.jpg"
	thumbURL="thumbs/245582.jpg"
	linkURL="images/245582.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245582.jpg">
    <title><![CDATA[245582]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245583.jpg"
	thumbURL="thumbs/245583.jpg"
	linkURL="images/245583.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245583.jpg">
    <title><![CDATA[245583]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245584.jpg"
	thumbURL="thumbs/245584.jpg"
	linkURL="images/245584.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245584.jpg">
    <title><![CDATA[245584]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245585.jpg"
	thumbURL="thumbs/245585.jpg"
	linkURL="images/245585.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245585.jpg">
    <title><![CDATA[245585]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/245586.jpg"
	thumbURL="thumbs/245586.jpg"
	linkURL="images/245586.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\245586.jpg">
    <title><![CDATA[245586]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/246217.jpg"
	thumbURL="thumbs/246217.jpg"
	linkURL="images/246217.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\246217.jpg">
    <title><![CDATA[246217]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/246218.jpg"
	thumbURL="thumbs/246218.jpg"
	linkURL="images/246218.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\246218.jpg">
    <title><![CDATA[246218]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/246219.jpg"
	thumbURL="thumbs/246219.jpg"
	linkURL="images/246219.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\246219.jpg">
    <title><![CDATA[246219]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/246221.jpg"
	thumbURL="thumbs/246221.jpg"
	linkURL="images/246221.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\246221.jpg">
    <title><![CDATA[246221]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/246223.jpg"
	thumbURL="thumbs/246223.jpg"
	linkURL="images/246223.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\246223.jpg">
    <title><![CDATA[246223]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/246224.jpg"
	thumbURL="thumbs/246224.jpg"
	linkURL="images/246224.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Desktop\PROJECTS\CarlosComics\AI_TRANSFORM CONFRONTATION\Cuban_Lives\246224.jpg">
    <title><![CDATA[246224]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>